$timeline-height: 2.5em;
$timeline-weight: 0.14em;

p {
    font-size: 15px;
}

.timeline-container {
    padding: 50px;
    min-width: 320px;
}

.horizontal-line-top {
    border-bottom: $timeline-weight solid rgb(49, 49, 49);
    display: flex;
    justify-content: space-between;
}

.horizontal-line-bottom {
    display: flex;
    justify-content: space-between;
}

.vertical-line-up {
    padding: 0.5em;
    border-left: $timeline-weight solid rgb(49, 49, 49);
    height: $timeline-height;
}


.vertical-line-down {
    padding: 0.5em;
    border-left: $timeline-weight solid rgb(49, 49, 49);
    height: 1em;
}