@import "../index.scss";

.main-container {
    display: flex;
    flex-direction: column;
}

.background-container {
    background-image: url('../../public/header-detail.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: $mobile-inner-padding;
}

.content-container {
    background-image: url('../../public/fencer_original.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: $mobile-inner-padding;
}

.icon {
    color: $golden-font;
    font-size: 4em;
    width: 0.4em;
    height: auto;
    display: flex;

}

.header-container {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
}

.menu-wrapper {
    bottom: $mobile-inner-padding;
    width: 100%;
}

.icon-wrapper {
    display: flex;
    justify-content: end;
}

.menu {
    background-image: url('../../public/tile.jpg');
    background-size: 150px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

